body{

    margin: 0;
	background-color: #232323;
}

h1{
	line-height: 1.1;
    margin: 0 ;
	background: steelblue;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	padding: 20px 0;

}


#message{

	display: inline-block;
	width: 20%;
}

.square{

	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background 0.4s;
	border-radius: 15%;



}

#container{
	margin: 5% auto;
	max-width: 600px;
}



.selected{
 
 background: steelblue;
 color: white;
	
}

#stripe{

    height: 30px;
	background: white;
	text-align: center;

}

#pickedColor{

	font-size: 150%;
}

button{

background: none;     
height: 100%;
border: none;
text-transform: uppercase;
font-weight: 700;	
color: steelblue;
font-size: inherit;
transition: all 0.4s;

}

button:hover{

	color: white;
	background: steelblue;
}